*{
    margin :0;
    padding: 0;
}


.judul{
    text-align: center;
}

/* .boxmodel{
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: auto;
    padding-top:40px;
    border: 50px solid black;
    box-sizing: border-box;
}

.kotak{ 
    width: 50px;
    height: 50px;
    background-color: red;
    margin-left: 100px;

}

.kotak2{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-left: 100px;
    margin-top: 50px;
    border:3px solid black;
} */

.boxmodel{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
}

.kotak{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;

}
.kotak2{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;

}